.main-tables-container{
    display: flex;
    width: 930px;
    margin: 0 auto;
}

.product-cards--container{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.plans-container--slider{
    justify-content: center;
}

.recommended {
    width: 200px;
    left: calc(50% - 100px);
    font-size: 1.4rem;
}